<!DOCTYPE html>
<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;
      text-align: right;
    }
  </style>
  <title>Nordpool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <table>
    <tr>
      <th></th><th>:00</th><th>:15</th><th>:30</th><th>:45</th>
    </tr>
    {% for hour in hours %}<tr>
      <td>{{hour}}</td>
      {% for price in prices if price.hour == hour %}<td>{{ "%.2f"|format(price.price) }}</td>{% endfor %}
    </tr>{% endfor %}
  </table>
</body>
</html>
